@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(24 42 59 / 0.8);
}

